:root {
    --toolbar-bg-color: #f5f7fa;
    --tag-item-bg-hover-color: #dee1e6;
    --tag-item-bg-active-color: #e8f4ff;

}

html.dark {
    --toolbar-bg-color: var(--el-bg-color-overlay);
    --tag-item-bg-hover-color: #3a4957e0;
    --tag-item-bg-active-color: #2d4153;
}

.el-dialog__footer {
    padding: 10px;
    border-top: 1px solid var(--el-border-color);
    border-bottom: 1px solid var(--el-border-color);
    box-sizing: border-box;
}

.el-dialog {
    box-sizing: border-box;
    margin: 15vh auto;
}

.el-dialog.is-fullscreen {
    box-sizing: border-box;
    margin: auto;
}

.el-dialog .el-dialog__header {
    padding: 10px 24px;
    border-bottom: 1px solid var(--el-border-color);
    margin-right: 0;
    box-sizing: border-box;
    background-color: var(--toolbar-bg-color);
}

.el-dialog__body {
    padding: 16px 20px;
    box-sizing: border-box;
}

.el-dialog.is-fullscreen .el-dialog__body {
    height: calc(100vh - 44px - 54px);
    max-height: calc(100vh - 44px - 54px);
}

.el-dialog .el-dialog__body {
    max-height: calc(100vh - 15vh - 15vh - 44px - 54px);
}


/** vxe dark **/ 
.vxe-table--render-default.border--full .vxe-body--column, .vxe-table--render-default.border--full .vxe-footer--column, .vxe-table--render-default.border--full .vxe-header--column {
    background-image: linear-gradient(var(--el-border-color),var(--el-border-color)),linear-gradient(var(--el-border-color),var(--el-border-color));
    background-color: var(--el-fill-color-light);
}

.vxe-table--render-default.border--default .vxe-body--column, .vxe-table--render-default.border--default .vxe-footer--column, .vxe-table--render-default.border--default .vxe-header--column, .vxe-table--render-default.border--inner .vxe-body--column, .vxe-table--render-default.border--inner .vxe-footer--column, .vxe-table--render-default.border--inner .vxe-header--column {
    background-image: linear-gradient(var(--el-border-color),var(--el-border-color)),linear-gradient(var(--el-border-color),var(--el-border-color));
    
}

.vxe-table--render-default .vxe-table--body-wrapper, .vxe-table--render-default .vxe-table--footer-wrapper {
    background-color: var(--el-fill-color-light);
}

.vxe-table--render-default.border--default .vxe-table--header-wrapper, .vxe-table--render-default.border--full .vxe-table--header-wrapper, .vxe-table--render-default.border--outer .vxe-table--header-wrapper {
    background-color: var(--el-fill-color-light);
}

.vxe-table .vxe-table--header-wrapper .vxe-table--header-border-line {
    border-bottom: 1px solid var(--el-border-color);
}

.vxe-table--render-default .vxe-table--border-line {
    border: 1px solid var(--el-border-color);
}

.vxe-loading {
    background-color: var(--el-table-border-color);
}

.vxe-table--render-default .vxe-body--row.row--hover, .vxe-table--render-default .vxe-body--row.row--hover.row--stripe {
    background-color: var(--el-table-row-hover-bg-color);
}

/* --el-table-row-hover-bg-color */

.vxe-table--render-default {
    color: var(--el-table-row-hover-bg-color);
}

.vxe-table .vxe-table--header-wrapper {
    color: var(--el-table-header-text-color);
}

.vxe-table--render-default .vxe-body--row.row--stripe {
    background-color: var(--el-fill-color-lighter);
}


/* --el-table-header-text-color */